@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");

/* Import styles */
@import url("./styles/variables.css");
@import url("./styles/qr.css");
@import url("./styles/menu.css");


/* Import Tailwinds  */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  margin: 0 ;
  
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: white;
    color: black; /* optional: to make text visible on white */
  }
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color:  var(--light_level_3_color);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--light_level_1_color);
  border-radius: 100px;
}


h1{
  font-size: var(--font-size-3xl);
}
h2{
  font-size: var(--font-size-xxl);
}
h3{
  font-size: var(--font-size-xl);
}
h4{
  font-size: var(--font-size-l);
}
h5{
  font-size: var(--font-size-s);
}
p{
  font-size: var(--font-size-xs);
}

